{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5" id="indexPage">
        <h1 id="mainTitle" class="text-center">Bienvenue sur mon E-Portfolio</h1>
        <p id="mainDescription" class="text-center mt-3">
            Explorez mes loisirs, mon CV, et mes projets. Cliquez ci-dessous pour accéder à la page d'accueil.
        </p>
        <div class="text-center mt-4">
            <a href="{{ path('app_eportfolio_home') }}" class="btn btn-primary" id="homeButton">Aller à l'accueil</a>
        </div>
    </div>
{% endblock %}
