{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <main class="container my-5">
        <!-- Section Mentions Légales -->
        <section>
            <h1 class="text-center">Mentions Légales</h1>
            <p class="text-center">Conformément aux exigences légales, voici les informations relatives à ce site.</p>

            <div class="mt-5">
                <h2>Informations légales</h2>
                <p><strong>Propriétaire du site :</strong> Titouan Floch</p>
                <p><strong>Adresse :</strong> 123 rue Exemple, 12345 Ville, France</p>
                <p><strong>Email :</strong> contact@exemple.com</p>
                <p><strong>Numéro de téléphone :</strong> +33 1 23 45 67 89</p>
            </div>

            <div class="mt-5">
                <h2>Hébergement</h2>
                <p><strong>Hébergeur :</strong> OVH, 2 rue Kellermann, 59100 Roubaix, France</p>
                <p><strong>Numéro de téléphone de l'hébergeur :</strong> +33 9 72 10 10 07</p>
            </div>

            <div class="mt-5">
                <h2>Propriété intellectuelle</h2>
                <p>Les contenus présents sur ce site, y compris les textes, images, logos, vidéos, et autres éléments sont la propriété de Titouan Floch ou de ses partenaires. Toute reproduction, distribution, ou utilisation non autorisée est interdite.</p>
            </div>

            <div class="mt-5">
                <h2>Responsabilité</h2>
                <p>Ce site contient des liens vers des sites externes. Nous n'avons aucun contrôle sur le contenu de ces sites et ne saurions être tenus responsables de leur contenu ou de tout dommage résultant de leur utilisation.</p>
            </div>

            <div class="mt-5">
                <h2>Protection des données personnelles</h2>
                <p>Les données personnelles collectées via ce site sont traitées conformément à la politique de confidentialité de ce dernier. Vous pouvez consulter cette politique pour en savoir plus sur la collecte, l'utilisation, et la protection de vos données.</p>
            </div>

            <div class="mt-5">
                <h2>Cookies</h2>
                <p>Ce site utilise des cookies pour améliorer l'expérience utilisateur. En poursuivant votre navigation, vous acceptez l'utilisation de cookies conformément à notre politique de cookies.</p>
            </div>
        </section>
    </main>
{% endblock %}
